html, body {
  padding: 0;
  margin: 0;
  background: black;
}


.b {
  display: inline-block;
  padding: 10px 25px;
  margin: 10px 30px;
  border: 1px solid antiquewhite;
}

.i {
  color: ivory;
}

.t {
  color: thistle;
}

.panel input {
  padding: 4px;
  margin: 6px;
}

#wrapper {
  display: inline-block;
}
